body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#button-add {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#modal-idea-new {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 10px;
    background-color: aliceblue;
    padding: 15px;
}

#modal-idea-detail {
    display: none;
    position: absolute;
    background-color: aliceblue;
    padding: 15px;
    width: 300px;
}

textarea {
    height: 75px;
}

.button-modal-close {
    position: absolute;
    right: 5px;
    top: 5px;
}