body { 
    margin: 0;
}

#btn-add {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#modal-idea {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 10px;
    background-color: darkgreen;
    padding: 15px;
}

#modal-detail {
    display: none;
    position: absolute;
    background-color: aliceblue;
    padding: 15px;
}